.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  background-image: linear-gradient(to right, #002C82, #001F60);
  color: #F8F8F8;
}

@media only screen and (max-width: 1000) {
  .App {
    background-image: linear-gradient(to right, #001F60, #001F60);
    background-color: #001F60;
  }
  
}